*{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
body{
    margin: 0;
}

.header{
    border-bottom: 3px solid aqua;
    background-color: black;
    margin: 0px 0px 3px;
}

.header .container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    color: rgb(219, 114, 16);

}
.header h1{
    color: aqua;
    padding-left: 40px;
}
.header a{
    text-decoration: none;
    color: rgb(219, 114, 16);
}
.header .a1{
    text-decoration: none;
    color: aqua;
}